body {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 150px 1fr;
}

.sidebar {
    grid-area: 1/1/-1/2;
    background-color: bisque;
    padding: 20px;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    font-weight: bold;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: aqua;
    grid-template-areas: 
    "searchbar searchbar"
    "user-info buttons"
    ;
    gap: 10px;
}

.searchbar {
    grid-area: searchbar;
}

.user-info {
    grid-area: user-info;
}

.buttons {
    grid-area: buttons;
}
.main {
    display: grid;
    background-color: aquamarine;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    
}

.ann-trend {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.cards {
    background-color: azure;
    border-radius: 5px;
}

/* sidebar styling */
.brand {
    font-size: larger;
}

.filter-white {
    filter: invert(99%) sepia(0%) saturate(105%) hue-rotate(168deg) brightness(115%) contrast(100%);
}

ul > li {
    list-style-type: none;
}

li:nth-child(7) {
    margin-top: 30px;
}